.Language {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Invalid {
    background-color: mistyrose;
}

.Language select {
    margin-top: 10px;
    text-align: center;
}

.Snippet {
    display: block;
    background: #000;
    color: #f8f8f8;
    text-align: initial;
    font-family: Roboto Mono;
    border-radius: 4px;
    margin-top: 40px;
    white-space: pre;
}

@media (max-width: 600px) {
    .Snippet {
        font-size: small;
    }
}